
.btn-text{
	
	color:white;
	font-size:15px;
}
.video-style{
	width:65%;
	height:600px;
	margin-top:50px;
}
.inner-html{
	width:65%;
	margin-top:65px;
}
.navbar-nav > li > a, .navbar-brand {
	padding-top:10px ;
	padding-bottom:0 ;
	height: 40px;
}
.navbar {min-height:40px ;}