.carousel_content{/*更改投影片內容字體*/

	color:#ffffff;
	font-size:60px;
	-webkit-text-stroke: 1px #000000;
	font-family:Microsoft JhengHei;
	font-weight: bold;
}


.heading-text {

	height:0px;/*與heading的長度相同*/
	width:122px;
    text-align:center;
	color:#00FFFF;
	font-size:30px;
}

.video-style{

	 width:840px;
	 height:400px;
}

.inner-html-size{

}
.embedhtml{
	text-align:center;

}



.html-content{
	
	font-family: Microsoft JhengHei;
	font-weight:bold;
	color:#FFBB00;
	font-size:35px;
	
}
.html-video{
	font-size:40px;text-align:center;color:#5599FF;font-family: Microsoft JhengHei;
	font-weight:bold;
	text-align:center;
}

.modal-title-style{
	font-size:15px;
}
.modal-header {
    padding:9px 15px;
    border-bottom:0px;
    background-color:#8C8C8C;
 }
 .modal-style{
	width:47.5%;
	margin-left:auto;
	margin-right:auto;
 }
 .modal-content-style{
	height:650px;
 }
 .modal-content{/*Change modal background color*/
	background-color: #363636;
 }
 .panel-default > .panel-heading {
	background-color:#636363;
 }
 .panel-body{
	background-color:#636363;
 }
.nsysu-style{
	/*for picture nsysu, dont delete*/
	position:absolute;
	margin-left:20px;
	left:0px;top:0px;
}
.main-nsysu{
	margin-top:5px;
	margin-bottom:7px;
	width:auto;
}
.tophead-style{
	/*margin-left:20px;
	color:white;
	font-size:35px;
	font-family: DFKai-sb;*/
	
	/*display:inline-block;
	vertical-align:middle;*/
	position:absolute;
	left:29%;top:20px;
	font-family:Microsoft JhengHei;
	color:#ffffff;
	font-weight:bold;
	font-size:35px;
	text-shadow:5px 5px 5px #000000;
	text-align:center;
	/*margin-left:15%*/
}
.tophead-style1{
	/*margin-left:20px;
	color:white;
	font-size:35px;
	font-family: DFKai-sb;*/
	
	/*display:inline-block;
	vertical-align:middle;*/
	position:absolute;
	right:44%;top:63px;
	font-family:Microsoft JhengHei;
	color:#FFFF00;
	font-weight:bold;
	font-size:12px;
	text-shadow:2px 2px 2px #000000;
	text-align:center;
	/*margin-left:15%*/
}
.kejibu-div{
	position:absolute;
	right:5px;top:0px;
	font-family: Microsoft JhengHei;
	font-weight:bold;
	color:#ABFFAB;
	font-size:20px;
}
.kubei{
	
	color:#26FFFF;
	font-size:26px;
	margin-right:10px;
	margin-top:5px;
	text-align:center;

}
.img-circle{
	width:120px;
	height:120px;
	margin-top:0px;
}

#allBTN{
	position: absolute;
	top: 20%;
	height:20px;/*與heading的長度相同*/
	width:120px;
	text-align:center;
	color:#b0c4de;
	font-size: 15px;
}
.btnDiv{
	/*控制左側按鈕間距*/
	/*height:105px;*/
}

.navbar-nav > li > a, .navbar-brand {
	padding-top:10px ;
	padding-bottom:0 ;
	height: 40px;
	
	/*Change top bar css here*/
	font-weight:bold;
	font-size:18px;
	font-family: Microsoft JhengHei;
}
.navbar {min-height:40px ;}


/*==============Responsive Design===================*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar{
	font-size:30px;
	cursor:pointer;
	color:white;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


    

.sidenav a:hover, .offcanvas a:focus{
    /*color: #f1f1f1;*/
	
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
	display:none;
}
.applink{
	background-color:#227700;
    color: white;
    padding: 35px 35px;
	font-size:25px;
    text-align: center;
    text-decoration: none;
	display:inline-block;
}
.appmode{
	text-align:center;
	display:none;
}
.apppic{
	position:absolute;
	bottom:0;
	left:0;
	height:80px;
	width:80px;
}
.apptopstyle{
	font-family:Microsoft JhengHei;
	color:#ffffff;
	font-weight:bold;
	font-size:25px;
	text-shadow:5px 5px 5px #000000;
	text-align:center;
}

.footer1{
	color:red;
	font-family:Microsoft JhengHei;
	font-weight:bold;position: absolute;
	bottom:-18%;left:40%;
	text-align:center;
	font-size:20px;
}

.footer2{
	color:white;
	position: absolute;
	bottom:-22%;
	right:1%;
}


/*==================================================*/
