html {
    background-color: #003d5b;
}

body {
    background-color: #003d5b;
    align-items: center;
}

h1 {
    color: #edae49;
    color: #003d5b;
    color: white;
    font-size: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}

h3 {
    margin: 5px;
    font-family: Microsoft JhengHei;
}

#content {
    background-image: linear-gradient(to top, #003d5b, #608799);
}

.section {
    margin-top: 20px;
    background-color: #fff4f4;
    margin: 10px;
}

.section hr {
    width: auto;
    color: #444444;
    height: 6px;
    margin: 2px;
}

.section .sec_con {
    margin: 10px;
}

.fig {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-content: center;
    flex-wrap: wrap;
}

.figdes {
    text-align: center;
    color: #fff4f4;
    background-color: rgba(169, 169, 169, 0.641);
    position: relative;
    top: -50px;
}

#logo_img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

#logo_img img {
    height: 50px;
}

#logo_img p {
    font-size: 28px;
    text-align: center;
    color: #003d5b;
    padding-left: 5px;
}

@media(max-width:391px) {
    #logo_img p {
        font-size: 20px;
    }
}

.navbar {
    border-radius: 2%;
}

iframe {
    flex-grow: 1;
    width: 100%;
}

@media(max-width:376px) {
    h1 {
        font-size: 24px;
    }
    #logo_img img {
        height: 45px;
    }
}

#pdfin {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
}

#foot_icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

#foot_icon img {
    width: 40px;
}

p {
    margin-bottom: 0;
}

#foot {
    background-color: #fff4f4;
    align-items: center;
    text-align: center;
}

#foot a {
    text-emphasis: none;
    text-decoration: none;
    color: #a5c7eb;
}

.btnDiv {
    display: none;
}

#carousel-inner img {
    height: 300px;
}

.section h2 {
    align-items: center;
    text-align: center;
}

#title {
    background-color: white;
    background-color: #003d5b;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
}

#title h1 {
    margin: 10px;
}

#header {
    position: sticky;
    top: 0px;
    z-index: 20;
    margin-bottom: 10px;
}

.header {
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.header.shrink {
    height: 80%;
    line-height: 80%;
}

.header h1 {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#title.change {
    background-color: #608799;
}

.change {
    color: #ffffff;
}

.header.shrink h1 {
    font-size: 26px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#STEAM {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: larger;
}

#生活物理 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

#STEAM2 {
    font-weight: 300;
    font-size: larger;
    color: rgb(0, 21, 255);
}

#生活物理2 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(0, 21, 255);
}

.html-content {
    color: black;
    font-size: 16px;
    line-height: 25px;
}

#re iframe {
    width: 560px;
    height: 415px;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
    background-image: linear-gradient(to right, #608799, #003d5b);
}