html {
    background-color: #003d5b;
}

body {
    background-color: #003d5b;
    align-items: center;
}

h1 {
    color: #edae49;
    font-size: 30px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

h3 {
    margin: 5px;
    font-family: Microsoft JhengHei;
}

.section {
    margin-top: 20px;
    background-color: #fff4f4;
    margin: 10px;
}

.section hr {
    width: auto;
    color: #444444;
    height: 6px;
    margin: 2px;
}

.section .sec_con {
    margin: 10px;
}

.fig {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-content: center;
    flex-wrap: wrap;
}

.figdes {
    text-align: center;
    color: #fff4f4;
    background-color: rgba(169, 169, 169, 0.641);
    position: relative;
    top: -50px;
}

#logo_img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch;
}

#logo_img img {
    height: 50px;
}

.navbar {
    border-radius: 2%;
}

iframe {
    flex-grow: 1;
    width: 100%;
}

@media(max-width:376px) {
    h1 {
        font-size: 25px;
    }
    #logo_img img {
        height: 45px;
    }
}

#pdfin {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
}

#foot_icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

#foot_icon img {
    width: 40px;
}

p {
    margin-bottom: 0;
}

#foot {
    background-color: #fff4f4;
    align-items: center;
    text-align: center;
}

#foot a {
    text-emphasis: none;
    text-decoration: none;
    color: #a5c7eb;
}

.btnDiv {
    display: none;
}

#carousel-inner img {
    height: 300px;
}

.section h2 {
    align-items: center;
    text-align: center;
}