body {
    background-color: #444444;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    -webkit-text-stroke: 1px #000000;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
}