html {
    background-color: #444444;
}

body {
    background-color: #444444;
    align-items: center;
}

h1 {
    color: #f8f9fa;
    font-size: 30px;
    -webkit-text-stroke: 1px #000000;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

h2 {
    margin: 5px;
    font-family: Microsoft JhengHei;
}

.section {
    margin-top: 10px;
    background-color: #f8f9fa;
    border-radius: 2%;
}

.section hr {
    width: auto;
    color: #444444;
    height: 6px;
    margin: 2px;
}

.section .sec_con {
    margin: 10px;
}

.fig {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-content: center;
    flex-wrap: wrap;
}

.figdes {
    text-align: center;
    color: #fff4f4;
    background-color: rgba(169, 169, 169, 0.641);
    position: relative;
    top: -50px;
}

#logo_img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch;
}

#logo_img img {
    height: 60px;
}

.navbar {
    border-radius: 2%;
}

iframe {
    flex-grow: 1;
    width: 100%;
}

@media(max-width:376px) {
    h1 {
        font-size: 25px;
    }
    #logo_img img {
        height: 45px;
    }
}

#pdfin {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
}

#foot_icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

#foot_icon img {
    width: 40px;
}

p {
    margin-bottom: 0;
}

#foot {
    background-color: #fff4f4;
    align-items: center;
    text-align: center;
}

#foot a {
    text-emphasis: none;
    text-decoration: none;
    color: #a5c7eb;
}

button {
    --c: #56d6d8;
    /* the color*/
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}